# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.seed.*

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.env.docker
**/postgres_data/

# Drizzle Kit
drizzle-kit/migrations/
drizzle-kit/sql/

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional: MacOS / Linux
*.swp
*.swo
